
.vs/
*.slnx
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.suo
*.user
*.useros
*.sln.docstates
*.db
*.opendb
*.VC.db
*.VC.opendb
Win32/
x64/
ARM/
Debug/
Release/
$GetCurrentBrokerFolder$

*.user
*.user.*
*.pro.user
*.pro.user.*
object_script.*
Makefile*
*-build-*
build-*/
.qmake.stash


*.obj
*.ilk
*.pdb
*.tlog
*.lastbuildstate
*.idb
*.exe
*.dll
*.lib
*.so
*.dylib
*.a

Thumbs.db
Desktop.ini
.DS_Store